<!-- Main navigation -->
<header>
    <!-- Intro -->
    <section class="view">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="heading display-4">Library Api</h1>
            <h4 class="subheading font-weight-bold">Catalogue of books</h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="view">
            <img src="../../../assets/img/libro.jpg" class="img-fluid" alt="smaple image">
          </div>
        </div>
      </div>
    </section>
    <!-- Intro -->
  </header>
  <!-- Main navigation -->
  
